<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <title>Krzysztof Filipiec</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon1.ico" rel="icon">
  <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">Home</a></li>
            <li><a href="./about.html" title="">About me</a></li>
            <!--<li><a href="./projects.html" title="">Projects</a></li>-->
            <li><a href="./contact.html" title="">Contact</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Who I am?</h3>
                  <p style="text-align: justify">My name is Krzysztof Filipiec I am from Poland and I live near Krakow.
                    I am graduated a computer
                    science and I am looking for a job where I could develop in the IT industry</p>
                  <h3>Skills </h3>
                  <p style="text-align: justify">Before I started studying I was creating some simple websites in HTML.
                    Next I started using CSS and JS in my websites. During my studies I like learning the UML language
                    and
                    manage the database (mainly MS SQL). After graduation, my goal was to learn the Python language,
                    which I uses to write scripts. With using the frameworks and tools of Python I learn new thing about
                    this language.
                    <h3>What am I doing now?</h3>
                    <p style="text-align: justify">
                      At the moment I am looking for a permanent job where I could improve my skills and interests. In
                      my free time I like to learn new things on the courses at https://zerotomastery.io/.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/thumbnail1.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>